<div class="<%= price_classes %>">
  <% if on_sale? %>
    <span class="price-current"><%= formatted_price %></span>
    <span class="price-original"><s><%= formatted_original_price %></s></span>
    <span class="price-discount">
      <%= (((original_price_cents - price_cents) / original_price_cents.to_f) * 100).round %>% off
    </span>
  <% else %>
    <span class="price-current"><%= formatted_price %></span>
  <% end %>
</div>